/**
 * Branding
 *
 * .
 */

@import '../../theme/index.scss';

.branding {
	display: flex;
	justify-content: center;
	margin: 0 auto $spacer-lg;
	padding: $spacer $spacer 0;
}

.branding__title {
	margin: 0 auto;
}
