/**
 * Paste Area
 *
 * The textarea for pasting the mixed CSS input text.
 */

@import '../../theme/index.scss';

.paste-area {
    display: block;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    position: relative;
}

.paste-area__textarea {
    background-color: $c-input;
    border-radius: 1rem;
    border: 1px solid darken($c-input, 0.75);
    border: none;
    box-shadow: inset 0 0 1rem darken($c-input, 0.75);
    color: $c-text;
    display: block;
    flex-grow: 1;
    height: 50vh;
    margin: 0;
    min-height: 8rem;
    padding: $spacer-lg $spacer $spacer;
    resize: vertical;
    width: 100%;
    z-index: 1;
}

.paste-area__label {
    align-items: center;
    bottom: 0;
    color: $c-input-placeholder;
    display: flex;
    font-size: 1.75rem;
    font-weight: 700;
    justify-content: center;
    left: 0;
    margin: 0 auto $spacer-sm;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
