/**
 * Color Extract
 *
 * The primary app area, with columns for pasting and viewing colors.
 */

@import '../../theme/index.scss';

.color-extract {
    display: flex;
    margin: 0 auto $spacer;
}

.color-extract__paste {
    margin: 0 $spacer 0 0;
    flex-grow: 1;
}

.color-extract__results {
    margin: 0;
    min-width: calc(#{$column} * 3);
}
