/**
 * Theme display property variables.
 */

// Backgrounds & Gradients
$bg-transparency-grid: repeating-conic-gradient($c-white 0deg 90deg, $c-gray 0deg 180deg) 0 2rem/2rem 2rem round;
$bg-ui: $c-shark-dark;

// Borders & Outlines
$border-ui-focus: 1px solid darken($c-shark-dark, 50%);
$border-ui-active: 1px solid darken($c-shark-dark, 25%);
$border-ui: 1px solid darken($c-shark-dark, 10%);

// Inputs
$input-ui-active: $c-outer-space;
$input-ui-focus: $c-rolling-stone;
$input-ui: $c-outer-space;

// Box Shadows
$shadow-buttons-focus: 13px 0 $input-ui-focus, 33px 0 $input-ui-focus, 53px 0 $input-ui-focus;
$shadow-buttons: 13px 0 $input-ui, 33px 0 $input-ui, 53px 0 $input-ui;
$shadow-ui-active: 0 1rem 2rem -1rem darken($c-shark-dark, 1.25%);
$shadow-ui-focus: 0 1rem 2rem -1rem darken($c-shark-dark, 5%);
$shadow-header: 0 1px 1px $bg-ui;
$shadow-ui: inset 0 0 2rem darken($c-shark-dark, 2.5%);
