/**
 * Theme display property variables.
 */

// Backgrounds & Gradients
$bg-transparency-grid: repeating-conic-gradient($color-white 0deg 90deg, $color-gray 0deg 180deg) 0 2rem/2rem 2rem round;

// Borders & Outlines
$border-interface: 1px solid darken($c-input, 10%);
$border-interface-active: 1px solid darken($c-input, 50%);
$outline-swatch: 1px solid rgba(0, 0, 0, 12.5%);
$outline-swatch-chip: 1px solid rgba(0, 0, 0, 25%);

// Box Shadows
$shadow-swatch: 0 px(2) px(8) rgba(0, 0, 0, 12.5%);
$shadow-paste-area: inset 0 0 2rem darken($c-input, 2.5%);
$shadow-paste-area-active: 0 1rem 2rem -1rem darken($c-input, 5%);
$shadow-window-buttons: px(20) 0 $c-controls, px(40) 0 $c-controls;
$shadow-window-buttons-active: px(20) 0 $c-controls-active, px(40) 0 $c-controls-active;
