/**
 * Theme layout variables.
 */

// Vertical & gutter spacing.
$spacer-xs: 0.5rem;
$spacer-sm: 1rem;
$spacer: 2rem;
$spacer-lg: 4rem;
$spacer-xl: 8rem;

// Page & content widths.
$width-content: 64rem;

// Columns
$column: 8rem;
