/**
 * Theme typography.
 */

// Font sizes.
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.75rem;
$font-size-mono: px(15);

// Line Heights
$line-height-sm: 1.25;
$line-height: calc(4 / 3);
$line-height-lg: 1.5;
$line-height-xl: calc(5 / 3);
