/**
 * Color
 *
 * A single color swatch.
 */

@import '../../theme/index.scss';

.swatch {
	background-color: $bg-ui;
	border-radius: px(2);
	box-shadow: $shadow-ui-active;
	display: flex;
	margin: 0;
	outline: $border-ui-active;
	padding: $spacer-sm;
	position: relative;
	flex-direction: column;
}

.swatch__chip,
.swatch__name {
	margin: 0 0 1.5rem;
}

.swatch__chip {
	background: $bg-transparency-grid;
	display: block;
	flex-shrink: 0;
	min-height: 8rem;
	outline: $border-ui-active;
	position: relative;
	width: 100%;

	&::before {
		background: var(--swatch-color);
		bottom: 0;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

.swatch__name {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.025em;
}

.swatch__data {
	min-width: 0;
}

.swatch__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.swatch__list-item {
	display: flex;
}

.swatch__label {
	font-size: px(14);
	min-width: 5rem;
	width: calc(100% / 3);
}

.swatch__value {
	min-width: 0;
	width: calc(100% / 2);
}
