/**
 * Header
 *
 * Site header styles.
 */

@import '../../theme/index.scss';

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto $spacer-lg;
	padding: $spacer-lg $spacer 0;
}

.header__title {
	color: $color-branding;
	letter-spacing: $letter-spacing-xl;
	margin: 0 auto;
	text-transform: uppercase;
}

.header__description {
	@include screen-reader-text();
}
