/**
 * Results Area
 *
 * .
 */

@import '../../theme/index.scss';

.results-area {
	display: block;
}

.results-area__info,
.results-area__prompt {
	@include cta-prompt();
	font-size: 1.25rem;
	text-align: center;
}
