/**
 * Results Area
 *
 * .
 */

@import '../../theme/index.scss';

.color-swatches {
	display: block;
}

.color-swatches__heading {
	@include section-heading();
	margin-bottom: $space;
}

.color-swatches__list {
	list-style: none;
	margin: 0 auto $space-lg;
	min-width: 20rem;
	padding: 0;

	@include media($bp-med) {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: repeat(2, 1fr);
	}

	@include media($bp-xlg) {
		grid-gap: 2rem;
		grid-template-columns: repeat(3, 1fr);
	}
}

.color-swatches__list-item {
	margin: 0 0 1rem;
	padding: 0;

	@include media($bp-med) {
		margin: 0;
	}
}
