/**
 * Results Area
 *
 * .
 */

@import '../../theme/index.scss';

.color-swatches {
	display: block;
}

.color-swatches__heading {
	@include section-heading();
	margin-bottom: $spacer;
}

.color-swatches__list {
	display: grid;
	grid-gap: $spacer;
	grid-template-columns: repeat(auto-fit, minmax(22rem , 1fr));
	list-style: none;
	margin: 0 auto $spacer-lg;
	min-width: 22rem;
	padding: 0;
}

.color-swatches__list-item {
	padding: 0;
}
