@import './theme/index.scss';

.app {
	background-color: transparent;
	margin: 0 auto $spacer-lg;
	max-width: $width-content;
	min-height: calc(100vh - #{$spacer-lg});
	padding: 0 $spacer;
	width: 100%;
}
