/**
 * Index CSS
 *
 * Styles for the document root.
 */

@import-normalize;

@import './theme/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu+Mono:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

body {
	background-color: $color-background;
	box-sizing: border-box;
	color: $color-text;
	font-family: 'Ubuntu', sans-serif;
	line-height: $line-height;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-header;
	margin: 0 0 $space-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
}

[type='text'],
textarea {
	font-family: 'Ubuntu Mono', monospace;
	font-size: $font-size-mono;
}

[type='text'] {
	letter-spacing: $letter-spacing;
	line-height: 1;
}

textarea {
	letter-spacing: $letter-spacing-textarea;
	line-height: $line-height-sm;
}
